<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
      }
      blockquote {
        margin-bottom: 10px;
        border-left-color: #bbb;
      }
      form {
        margin-top: 10px;
      }
      .form-signin input[type="text"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
      }
      .row {
        margin-left: 0px;
        margin-top: 10px;
        overflow: scroll;
      }
    </style>
	
	<style type="text/css"> 
		.onstate-myswitch { display: block; } 
		.offstate-myswitch { display: none; } 
	</style>
	
	
	

  <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
  <script type="text/javascript" src="/bootstrap/js/wforms_core.js"></script>
  <script type="text/javascript" src="/bootstrap/js/wforms_switch.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
  <script>
  $(document).ready(function() {
    $("#datepicker").datepicker();
  });
  </script>
  
    <script>
  $(document).ready(function() {
    $("#datepicker1").datepicker();
  });
  </script>
  
  <script>
    function showDiv1() {
   document.getElementById('week').style.display = "block";
	}
  </script>
  
  <script>
    function showDiv2() {
   document.getElementById('month').style.display = "block";
}
</script>

  <script>
    function showDiv3() {
   document.getElementById('michaels').style.display = "block";
}
</script>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Koupon Media Email Generator</a>
          <div class="nav-collapse collapse pull-right">
            <a href="{{ url|safe }}" class="btn">{{ url_linktext }}</a>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
		ReportName: <input type="text" name="ReportName" value={{ names }} disabled />
	
{% for list in listquery %}
<form action="/reports/edit/{{list.reportName}}" method="POST">
<pre>
	<!--
	From:      <input type="email" name="From" />
	Password   <input type="password" name="Password" />
	To:        <input type="email" name="To" />
	CC:        <input type="email" name="CC" />
	Subject:   <input type="text" name="Subject" />-->
	ReportName: <input type="text" name="ReportName" value={{ list.reportName }} />
	ClientName: <input type="text" name="Name" value={{ list.clientName }} />
	ClientID:   <input type="text" name="ID" value={{ list.ClientId }} />
	
	DateStart:  <input  type="datetime-local" name="Start" value={{ list.date_start}}/>      DateEnd:  <input  type="datetime-local" name="End" value={{ list.date_end }}/>
	{% if list.offer %}<input type="checkbox" name="Offer" value={{ list.offer}} checked> Offer Metrics {% else %} <input type="checkbox" name="Offer" value={{ list.offer}}> Offer Metrics {% endif %} {% if list.user %}<input type="checkbox" name="User" value={{ list.user}} checked> User Metrics {% else %} <input type="checkbox" name="User" value={{ list.user}}> User Metrics {% endif %}{% if list.store %}<input type="checkbox" name="Store" value={{ list.store}} checked> Store Metrics{% else %} <input type="checkbox" name="Store" value={{ list.store}}> Store Metrics {% endif %} {% if list.michaels %}<input type="checkbox" name="Michaels" class="switch-myswitch3" onclick="showDiv3()" value={{ list.michaels}} checked> Michaels:Weekly{% else %} <input type="checkbox" name="Michaels" class="switch-myswitch3" onclick="showDiv3()" value={{ list.michaels}}> Michaels:Weekly{% endif %}
	<div id="michaels" style="display:none;"> 
	GoogleAnalytics:<input type="submit" class="btn btn-large btn-primary" value="Configure">
	ExtAcct:<input type="text" name="Mich_acc" />
	KM Token:<input type="text" name="Mich_token" /> </div>
	{% if list.weekly %}<input type="checkbox" name="Week"  class="switch-myswitch1" onclick="showDiv1()" value={{ list.weekly }} checked> Weekly {% else %} <input type="checkbox" name="Week"  class="switch-myswitch1" onclick="showDiv1()" value={{ list.weekly }}>Weekly {% endif %} {% if list.monthly %}<input type="checkbox" name="Month" onclick="showDiv2()" class="switch-myswitch2" value={{ list.monthly }} checked> Monthly {% else%} <input type="checkbox" name="Month" onclick="showDiv2()" class="switch-myswitch2" value={{ list.monthly }}> Monthly{% endif %}
	<div id="week" style="display:none;">Every: <input type="number"  name="weekday" min="1" max="7" value={{ list.frequency}} />  Day of the Week</div>			<div id = "month" style="display:none;">Every: <input type="number" name="monthday" min="1" max="28" value={{ list.frequency }} />  Day of the Month</div>
	</pre>	
	<!--<div>Body:<textarea name="body" class="input-block-level" rows="5"></textarea></div> -->
	<div><input type="submit" class="btn btn-large btn-primary" value="Make Changes"></div>
 </form>
 {% endfor %}
	</div>
  </body>
</html>
{% endautoescape %}