<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
      }
      blockquote {
        margin-bottom: 10px;
        border-left-color: #bbb;
      }
      form {
        margin-top: 10px;
      }
      .form-signin input[type="text"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
      }
      .row {
        margin-left: 20px;
        margin-top: 10px;
      }
          .c1 {
                width: 100px;
                display: block;
          }
    </style>
        <script>
        </script
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">App Engine Guestbook</a>
          <div class="nav-collapse collapse pull-right">
            <a href="{{ url|safe }}" class="btn">{{ url_linktext }}</a>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
        
        <div><a href = "/sample_Email"><input type="submit" name="New" class="btn btn-large btn-primary" value="New Report"></a></div>

    <div class="row"> 
                <div class="c1">Report Name </div>
                <div class="c1">Frequency </div>
                <div class="c1">Scheduled </div>
        </div>
        
              {% for list in listreport %}
    <div class="row1"> 
                <div class="c1">{{ list.ClientId }} </div>
                <div class="c1">{{ list.reportName }} </div>
                <div class="c1">{{ list.frequency }}</div>
                <div class="c1">{{ list.Scheduled }} </div>
                <div class="c1">{{ list.date_start }} </div>
                <div class="c1">{{ list.date_end }}</div>
                <div class="c1">{{ list.user }} </div>
                <div class="c1">{{ list.offer }} </div>
                <div class="c1">{{ list.store }}</div>
                <div class="c1">{{ list.michaels }} </div>
                <div><a href="/reports/edit/{{ list.reportName }}"><input type="button" name="New" class="btn btn-large btn-primary" value="Edit Report"></a>
                <a href="/reports/edit/{{ list.reportName }}"><input type="button" name="New" class="btn btn-large btn-primary" value="Go To Tabs"></a></div>
        </div>
      {% endfor %}


        </div>
  </body>
</html>
{% endautoescape %}