<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery.js"></script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
    <style type="text/css">
      body {
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
      }
      blockquote {
        margin-bottom: 10px;
        border-left-color: #bbb;
      }
      form {
        margin-top: 10px;
      }
      .form-signin input[type="text"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
      }
      .row {
        margin-left: 0px;
        margin-top: 10px;
        overflow: scroll;
      }
    </style>
	
	<script>
	function showDiv8() {
   document.getElementById('success1').style.display = "block";
}
</script>
    
  </head>
  <body>
    <div class="tabbable tabs-left">
              <ul class="nav nav-tabs">
                {% for tabs in Tabs %} 
                  <li><a href="#{{ tabs.TabId }}" data-toggle="tab">{{ tabs.TabName }}</a></li>
                {% endfor %}
              </ul>
              <div class="tab-content">
                {% for tabsstatic1 in TabsStatic_query %}
                <div class="tab-pane" id="{{ tabsstatic1.TabId }}">
                  <b>STATIC PARAMS</b><br/>
                  {% for tabsstatic2 in TabsStatic_query %} 
                    {% if tabsstatic1.TabId == tabsstatic2.TabId %}
                    <p><input type="text" style="width:200px" name=Key  value={{ tabsstatic2.Key }} /> <input type="text" style="width:350px" name=KeyValue value={{ tabsstatic2.KeyValue  }} /></p>
                    {% endif %}
                  {% endfor %}  
                  <b>CLIENT PARAMS</b><br/>
                  {% for tabsdynamic in TabsDynamic_query %} 
                    {% if tabsstatic1.TabId == tabsdynamic.TabId %}
                    {{ tabsdynamic.ParamType  }}
                    <p><input type="text" style="width:200px" name=ExtAcc value={{ tabsdynamic.ExtAcc }} /> <input type="text" style="width:350px" name=ExtUserInput value={{ tabsdynamic.ExtUserInput  }} /></p>
                    {% endif %}
                  {% endfor %} 
                <div><input type="submit" class="btn btn-large btn-primary" value="Submit"></div> 
                </div>
                {% endfor %}
              </div>
            </div>
<input type="button" class="btn btn-large btn-primary" value="Add Tab" onclick="showDiv8()" />   
<div id="success1" style="display:none;"></div>
<div id="error1">
</div>
<script>
$("#success1").load("/AddTab", function(response, status, xhr) {
  if (status == "error1") {
    var msg = "Sorry but there was an error: ";
    $("#error1").html(msg + xhr.status + " " + xhr.statusText);
  }
});
  </script>
  </body>
</html>
{% endautoescape %}

